name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Create db
      run: docker-compose run web rails db:create
    - name: Run tests
      run: docker-compose run web rails test
    - name: Build image
      run: docker build . --file Dockerfile --tag drails-image:dev-${{ github.sha }}
    - name: Push to ECR
      id: ecr
      uses: jwalton/gh-ecr-push@v1
      with:
        access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: us-east-1
        local-image: drails-image
        image: drails-image:dev-${{ github.sha }}, drails-image:latest