name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Create db
      run: docker-compose run web rails db:create
    - name: Run tests
      run: docker-compose run web rails test
    - uses: vitr/actions-build-and-upload-to-ecs@master
      with:
        access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        repo: 317080290092.dkr.ecr.us-east-1.amazonaws.com/drails
        region: us-east-1
        tags: latest,${{ github.sha }}
